* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    ;
}

html body {
    height: 100%;
    width: 100%;
}

.logo1 {
    width: 10%;
    height: 40%;
    margin-left: 8%;
}


/* loader */

#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #3b3a3a;
    color: white;
}
#loader #topheading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: (-50%, 0);  
}
#topheading h5{
   text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
}

#loader h1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    font-weight: 500;
}
.reveal img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.reveal .parent .child{
    display: block;
}
.parent .child span{
    display: inline-block;
}

#green{
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 96;
    height: 0vh;
    background-color: #e3ea0b;
}








/* navbar */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    z-index: 100;
    background: rgb(255, 255, 255);
    white-space: nowrap; 
    height: 4.5vw;
}

#nav a {
    position: relative;
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
    
}


.log {
    margin-right: 10%;
    justify-content: center;
    width: 14vw;
    height: 10vw;  
}

.log img{
    width: 10vw;
    margin-top: 4vw;
    margin-left: 5vw;
}








/* home */
.home {
    display: flex;
    width: 100%;
    height: 100vh; 

   
}

.home-right {
    background: #fff945;
    clip-path: ellipse(50% 60% at 60% 30%);
    height: 100vh;
    width: 80vw;
    overflow: hidden;
}

.home-right img{
   height: 100vh;
   width: 80vw;
}
.home-left{
    height: 100vh;
    width: 50vw;
}

.home-left h2{
    padding-top: 10vh;
    padding-left: 9vw;
    font-size: 10vh;
}
.home-left h1{
    padding-left: 9vw;
    font-size: 8vh;
}

.home-left h3{
    padding-left: 9vw;
    font-size: 8vh;
}
.home-left p{
    padding-top: 5vh;
    padding-left: 9vw;
    font-size: 3.3vh;
}

.home-left .btn{
    display: flex;
    align-items: baseline;
    gap: 2vw;
}

.btn1{
    padding: 2vh;
    margin-top: 4vh;
    margin-left: 9vw;
    font-weight: 600;
    font-size: 3vh;
    background: #F8C935;
    border-radius: 3vh;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
}
.btn1:hover{
    color: rgba(0, 0, 0, 1)
}
.btn2{
    padding: 2vh;
    margin-top: 4vh;
    font-weight: 600;
    background: #070707;
    font-size: 3vh;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 3vh;
    cursor: pointer;
}
.btn2:hover{
    color: rgb(255, 255, 255, 1)
}






/* sefty page  */
.sefty{
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin: 4vw;
}

.sefty .sefty-right{
    height: 100%;
    width: 100%;
    position: relative;
}

.sefty-right h1{
    margin-top: 1vh;
    margin-left: 10vh;
    font-size: 4vw;
    color: #F8C935;
}
.sefty-right .p{
    margin-top: 5vh;
    margin-left: 10vh;
    font-size: 1.4vw;
}
.text{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    height: 100%;
    width: 50%;
}
.content .btn{
    padding: 2vh;
    margin-top: 4vh;
    padding-left: 7%;
    margin-left: 35%;
    margin-right: 35%;
    font-weight: 600;
    font-size: 3vh;
    border-radius: 4vh;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: #121111 solid 1.5px;  
}
.content .btn:hover{
    color: #000000;
    border: #000000 solid 1.5px;
}


.img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
    height: auto;
}
.img .img1{
    position: absolute;
    width: 60%;
    height: 80%;
    border-radius: 1vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    background-color: red;
}

.img .img1:hover{
    z-index: 2;
    scale: 1.2;
    transform:translate(0%, 0%) rotate(0deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.img .img1:nth-child(1){
    transform:translate(-10%, -10%) rotate(-20deg);
    background-image: url(gallary/image4.png);
    background-size: cover;
    background-position: center ;
}
.img .img1:nth-child(2){
    transform:translate(10%, 0%)  rotate(-10deg);
    background-image: url(gallary/image3.png);
    background-size: cover;
    background-position: center ;
}
.img .img1:nth-child(3){
    transform:translate(30%, 10%)  rotate(2deg);
    background-image: url(gallary/image2.png);
    background-size: cover;
    background-position: center ;
}


#fimages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 5vw;
}

#fleft {
    overflow: hidden;
    width: 45%;
    height: inherit;
    padding-left: 7vw;
    margin-left: 2vw;
}

.fleftelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}

.fleftelm h1 {
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.fleftelm h3 {
    font-size: 1.3vw;
    font-weight: 400;
}
.fleftelm .btn{
    padding: 2vh;
    margin-top: 4vh;
    padding-left: 3%;
    margin-left: 20%;
    margin-right: 43%;
    font-weight: 600;
    font-size: 3vh;
    border-radius: 4vh;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: #121111 solid 1.5px;  ;
}
.content .btn:hover{
    color: #000000;
    border: #000000 solid 1.5px;
}


.fleftelm h4 {
    opacity: .5;
}

#fright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
    padding-right: 4vw;
}

#fright .images {
    width: 90%;
    height: 90%;
}

#fright .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.impact{
    display: flex;
    flex-direction: column;
    background-image: url("./Presentation1.jpg");
    height: 100vh;
    width: 100vw;
    align-items: center;
    padding-top: -2vw;
    padding: 6vw;
}

.impact h1{
    font-size: 4vw;
    font-weight: 500;
}
.impact h2{
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    padding-top: 4vw;
}

.imp-elm{
    display: flex;
    flex-direction: row;
    padding-top: 5vw;
}

.elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vw;
    width: 15vw;
    border-radius: 60%;
    background: #ffffff;
    margin: 2vw;
    border: #000 solid 1px;
}

.elem h1{
    font-size: 1.4vw;
}

.elem:hover{
    background: #f7ecec;
}


.for-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5vw;
}

.box{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: center;
   background: #ffffff;
   gap: 5vw;
   border: #d9c9c9 solid 2px;
   border-top-left-radius: 3vw;
   border-bottom-right-radius: 3vw;
   border-top-right-radius: .5vw;
   border-bottom-left-radius: .5vw;
}

.box span{
    padding: 1.5vw 4vw;
    cursor: pointer;
}

.box .span1{
    padding-right: 7vw;
    border-right: black solid 1px;
    background-color:#F8C935;
    border-top-left-radius: 3vw;
}
.box span:hover{
    color: #000000;
    font-weight: 700;
}

.box-elem img{
    height: 11vw;
    width: 14vw;
}
.box-elem h1{
    font-size: 2vw;
    font-weight: 500;
    padding-top: 2vw;
}
.box-elem p{
    font-size: 1.2vw;
    font-weight: 400;
    text-align: center;
    padding-top: 2vw;
}

.element{
    display: flex;
    flex-direction: row;
    padding-top: 6vw;
    gap: 3vw;
}


.element .box-elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
}


.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5vw;
}




/* customers hearts   */



/* footer  */
footer{
    height: 70vh;
    width: 100vw;
    padding: 3vw;
    background: #000000;
    color: #ffffff;
}

.listItem{
    display: flex;
    flex-direction: row;
    padding: 2vw;
}
.listItem .customer h1{
    font-size: 2vw;
    white-space: nowrap;
    font-weight: 500;
}
.listItem .customer .p1{
    border: 1px solid white;
    border-radius: 1vw;
}
.listItem .customer img{
    height: 3.4vw;
    width: 10vw;
    margin-top: 3vw;
}
.captain img{
    height: 3.4vw;
    width: 10vw;
    margin:2.4vw 2.3vw;
}
.captain h1{
    font-size: 2vw;
    white-space: nowrap;
    font-weight: 500;
    margin:.2vw 2vw;
}

.list1{
    padding:1vw 2vw;

}
.list1 h1{
    padding: .5vw;
    font-size: 1.3vw;
    white-space: nowrap;
    font-weight: 600;
}

.list2 h1{
    padding: 1.4vw 2vw;
    font-size: 1.3vw;
    font-weight: 600;
}

.list3 h1{
    padding: 1.4vw 1vw;
    font-size: 1.3vw;
    font-weight: 600;
}

.list4{
    display: flex;
    flex-direction: column;
}
.list4 .icon{
    display: flex;
    flex-direction: column;
    margin: 0.6vw 2vw;
}
.list4 .icon i{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    margin: 0.7vw 0.2vw;
}

.list4 h1{
    font-size: 2vw;
    white-space: nowrap;
    font-weight: 500;
    margin:.2vw 2vw;
}




.page2{
    height: 100vh;
    width: 100%;
  }
.move{
    display: flex;
    overflow: hidden;
    gap: 3vw;
    padding-top: 5vw;
    
}
  .marque{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    background: #F8C935;
    align-items: center;
    width: 32vw;
    height: 20vw;
    transform: translateX(-100%);
    border: #000 solid 2px;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 1.5vw;
    position: relative;
  }
  
  .marque .pic{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8C935;
    width: 5vw;
    height: 7vw;
    transform: translateY(-4vw);
    border-radius: 4px;
    position: relative;
    position: absolute;
    margin: 0.5vw 0.8vw;
  }
  .marque .pic img{
    height: 14vh;
    width: 4.5vw;
    border-radius: 3px;
    transform: translate3d(0.5vw, 0.5vw, 0vw);
    position: absolute;
    
  }
  .con .c1{
    width: 30vw;
    padding: 0.5vw 8vw;

  }
  .marque .c2 h1{
    font-size: 3.4vh;
    padding: 0.5vw 8vw;
  }
  .marque .c2 p{
    font-size: 2.5vh;
    padding: 0.5vw 8vw;
  }

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
}

